# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Logs e arquivos de execução do Minecraft
/run/
/run-data/
*.log
*.lck

# MacOS (caso você ou algum colaborador use Mac)
.DS_Store

# Pasta de builds finais
/build/

# IntelliJ específico
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/jarRepositories.xml
.idea/compiler.xml
*.iws

#Pasta Desnecessaria
imagens/